<div class="container mt-3">
    <div class="jumbotron">
        
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: white;">
                    <th>Descripcion</th>
                    <th>Valor</th>
                </tr>
                {{#each params }}
                <tr>
                    <td>{{this.desc}}</td>
                    <td>{{this.value}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

